html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.charts {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.charts canvas {
}

.selected {
  border: 0.3rem solid red;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
